.department_container{
    background: #fff;
    min-height: 100%;
    width: 100%;
    .create_department_btn{
        position: fixed;
        top: 22px;
        left: 270px;
    }
    .collapse{
        left: 145px;
    }
}