.filter_wrapper{
    position: absolute;
    width: 280px;
    height: 100%;
    background-color: #fff;
    margin: 2px;
    padding: 10px 20px;
    // position: relative;
    transition: 0.2s;
    border-radius: 10px;
    margin-right: 20px;
    &.close{
        width: 0;
        padding: 0 7px;
        .filter_title_wrapper, .form_container{
            opacity: 0;
            transition: 0.2s;
        }
    }
    .filter_title_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .close_tip{
        position: absolute;
        right: 0;
        top: 50%;
        width: 15px;
        background-color: #1890ff;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: #fff;
    }
    .opacity{
        opacity: 0;
    }
    .c_r{
        cursor: pointer;
    }
}