.layout_box{
    height: 100vh;
    .header_box{
        padding: 0;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        .collapse_icon{
            font-size: 16px;
            width: 64px;
            height: 64px;
        }
        .ant-dropdown-trigger{
            margin-right: 20px;
        }
    }
    .content_box{
        margin: 24px 16px;
        min-height: 280px;

        .main_container{
            position:relative;
            height: 100%;
            .common_container{
                position: fixed;
                top: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .pagination_container{
                    display: flex;
                    align-items: center;
                }
                .mr_10{
                    margin-right: 10px;
                }
            }
            .table_header_container{
                left: 270px;
                width: calc(100% - 470px);
            }
            .table_collapse_container{
                left: 150px;
                width: calc(100% - 420px);
            }
        }
    }
}