.layout_box{
    height: 100vh;
    .header_box{
        padding: 0;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        .collapse_icon{
            font-size: 16px;
            width: 64px;
            height: 64px;
        }
        .ant-dropdown-trigger{
            margin-right: 20px;
        }
    }
    .content_box{
        margin: 24px 16px;
        min-height: 280px;
    }
}