.main_container{
    position: relative;
    .ant-table-tbody{
        .ant-image{
            width: 50px;
            height: 50px;
        }
    }
    .c_r{
        cursor: pointer;
        float: right;
    }
}