.side_bar{
    box-shadow: rgb(24 144 255 / 10%) 0 0 28px 0;
    z-index: 10;
    background-color: #fff;
    .brand{
        z-index: 1;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
        h1{
            font-size: 16px;
            font-weight: 700;
            color: #1890ff;
            text-align: center;
        }
    }
}