.attendance_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list_container{
        width: 49.8%;
    }
    .block_container{
        background-color: #fff;
        border-radius: 8px;
        padding: 10px 15px;
        margin-bottom: 20px;
        height: 400px;
        display: flex;
        flex-direction: column;
        .title{
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    /* //- echarts 样式重置 */
    .react_for_echarts {
        width: 100%;
        height: 350px !important;
    }
}