.login_box{
    width: 320px;
    height: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    button{
        width: 100%;
    }
    .logo{
        text-align: center;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
            margin-right: 8px;
        }
        span{
            font-size: 16px;
            display: inline-block;
            font-weight: 700;
            color: #1890ff;
        }
    }
    .login-methods-container{
        color: #888;
        text-align: center;
        margin-top: 16px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        cursor: pointer;

    }
    .login-methods{
        justify-content: flex-end;
    }
}



